html * {
    font-family: 'Encode Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fjalla One', sans-serif;
    color: #f2f5fa;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #68A691;
}

main section {
    padding: 3em 4em;
}

/* Starting align-center class code sourced and adapted from https://css-tricks.com/centering-css-complete-guide */

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of starting align-center class code */

header {
    background-color: #252831;
    color: #f2f5fa;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 0em 4em;
}

header a {
    color: #f2f5fa;
    text-decoration: none;
}

header h1 {
    color: #f2f5fa;
    margin: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
}

nav {
    padding: 0em 4em;
    background-color: #252831;
    /* color: #f4f4f4; */
    height: 30px;
    width: 100%;
    position: fixed;
    margin-top: 60px;
}

nav a {
    color: #f2f5fa;
    font-weight: 900;
    padding: 0em 1em;
    margin-right: 5px;
    text-decoration: none;
    text-align: center;
}

nav a.active {
    background-color: #f2f5fa;
    color: #252831;
}

nav a:hover {
    border-bottom: 2px solid #68A691;
}

body {
    margin: 0px;
}

main {
    background-color: #333b48;
    color: #f2f5fa;
    width: 100%;
    margin-top: 90px;
    display: inline-grid;
}

p,
li {
    line-height: 1.5;
}

footer {
    background-color: #252831;
    color: #f2f5fa;
    padding: 3em 4em;
}

form button {
    float: right;
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    font-weight: 900;
    border-style: none;
    font-family: 'Fjalla One', sans-serif;
}

form button:hover {
    color: #fff;
    background-color: #68A691;
}

form select,
input {
    border: 1px solid #68A691;
    padding: 5px;
}

p a {
    color: #68A691;
}

input {
    width: 250px;
}

select {
    width: 250px;
}

#cart table {
    width: 100%;
}

#showing table {
    width: 100%;
}

#cart th {
    background-color: #68A691;
}

#cart th,
#cart td {
    padding: 5px;
    text-align: center;
    border: 1px solid #f2f5fa;
}

#checkout table {
    width: 100%;
    color: #000000;
    background-color: #e8e8e8;
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 20px;
}

#checkout table thead {
    font-weight: bold;
}

#checkout th {
    background-color: #f2f5fa;
}

#checkout th,
#checkout td {
    padding: 5px;
    border-bottom: 1px solid #000;
    text-align: left;
}