main section {
    background-image: url('http://cdn.hoyts.com.au/media/814308/cinema_banner.jpg');
    height: 400px;
    background-position: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: grey;
    height: 60px;
}