html * {
    font-family: 'Encode Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #c0b283;
}

main section {
    padding: 2em;
}

main section.banner {
    background-image: url('http://cdn.hoyts.com.au/media/814308/cinema_banner.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0em;
    text-align: center;
}

header {
    background-color: #373737;
    /* color: #f4f4f4; */
    color: #dcd0c0;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 0em 2em;
}

header a {
    color: #c2c1c2;
    text-decoration: none;
}

header h1 {
    color: #c2c1c2;
    margin: 0px;
    padding-top: 10px;
}

nav {
    padding: 0em 2em;
    background-color: #373737;
    /* color: #f4f4f4; */
    height: 30px;
    width: 100%;
    position: fixed;
    margin-top: 60px;
}

nav a {
    /* background-color: #dcd0c0; */
    color: #dcd0c0;
    /* height: 30px; */
    font-weight: 900;
    padding: 0em 1em;
    margin-right: 5px;
    text-decoration: none;
    text-align: center;
}

nav a.active {
    background-color: #c2c1c2;
    color: #373737;
}

nav a:hover {
    background-color: #dcd0c0;
    color: #373737;
}

body {
    margin: 0px;
}

main {
    margin-top: 90px;
    display: inline-grid;
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

main p {
    line-height: 1.5;
}

fieldset {
    border-color: #c0b283;
    border-style: inset;
}

footer {
    background-color: #dcd0c0;
    color: #373737;
    padding: 2em;
}